:root {
    --parameter-box-size: 30px;
    --default-border: 1px solid black;
    --bold-weight: 700;
}

body {
    margin: 0;
    padding: 0;
}

* {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.icon {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: var(--default-border);
}

.icon-button-container {
    margin-right: 2px;
}

.icon-remove-button,
.icon-get-result-button,
.icon-eval-button,
.icon-move-button {
    border: var(--default-border);
    height: 30px;
}

.icon-decorator {
    margin: 5px;
    font-weight: var(--bold-weight);
}

.icon-parameter {
    display: flex;
    min-width: var(--parameter-box-size);
    height: var(--parameter-box-size);
    margin: 2px;

    border: var(--default-border);
}

.icon-parameter-delete {
    position: absolute;
    font-size: 5px;
}

.icon-parameter-text {
    align-self: center;
}

.icon-io-field {
    display: flex;
    align-content: center;
}

.icon-result {
    margin: 5px;
}


.tab {
    padding: 5px;
    border: var(--default-border);
}

#tabs {
    grid-area: tabs;
    border: var(--default-border);

    display: flex;
    flex-direction: row;
    align-items: center;
}


.tab-parameter {
    width: var(--parameter-box-size);
    height: var(--parameter-box-size);
    text-align: center;
    border: var(--default-border);
}

#tab-parameters {
    grid-area: tab-parameters;
    border: var(--default-border);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.constant-spawner-text {
    width: 95%;
}

#constant-spawner {
    grid-area: constant-spawner;
    border: var(--default-border);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5px;
}

.spawner-button {
    width: 70px;
}

#custom-icon-creator {
    grid-area: custom-icon-creator;
    border: var(--default-border);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5px;
}


#held-object {
    grid-area: held-object;
    border: var(--default-border);
}


#default-icon-spawners {
    grid-area: default-icon-picker;
    border: var(--default-border);

    padding: 5px;
}

#custom-icon-spawners {
    grid-area: custom-icon-spawners;
    border: var(--default-border);
    overflow: scroll;

    padding: 5px;
}

#icon-canvas {
    grid-area: canvas;
    border: var(--default-border);
}

#result-field {
    grid-area: result-field;
    border: var(--default-border);

    display: flex;
    align-items: center;
    justify-content: center;
}

#result-field-box {
    width: var(--parameter-box-size);
    height: var(--parameter-box-size);
    border: var(--default-border);
}

#root-container {
    display: grid;
    grid-template-areas:
        "default-icon-picker result-field tab-parameters custom-icon-spawners"
        "default-icon-picker canvas canvas custom-icon-spawners"
        "constant-spawner canvas canvas custom-icon-creator"
        "constant-spawner held-object tabs custom-icon-creator";
    grid-template-columns: 10vw 10vw 70vw 10vw;
    grid-template-rows: 5vh 85vh 5vh 5vh;

}